{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}To-Do List Django{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <body>
      <header class="main-header">
        <div class="container header-content">
          <h1>TaskPilot</h1>
          <nav class="main-nav">
            {% block nav %}
            <a href="{% url 'task_list' %}" class="nav-link"
              >Lista de Tarefas</a
            >

            <!-- LÓGICA DE AUTENTICAÇÃO -->
            {% if user.is_authenticated %}
            <!-- Se o utilizador estiver logado, mostra o campo de boas-vindas -->
            <span class="welcome-text">Olá, {{ user.username }}!</span>

            <!-- SUBSTITUIR O LINK <a> POR ESTE FORMULÁRIO POST -->
            <form
              method="post"
              action="{% url 'logout' %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit" class="nav-link logout-btn">Sair</button>
            </form>

            {% else %}
            <!-- Se não estiver logado, mostra Login e Registo -->
            <a href="{% url 'login' %}" class="nav-link">Iniciar Sessão</a>

            <a href="{% url 'signup' %}" class="nav-link cta-button">
              Registar
            </a>
            {% endif %}

            <a href="/admin/" class="nav-link">Admin</a>
            {% endblock nav %}
          </nav>
        </div>
      </header>

      <main class="main-content">
        <div class="container">{% block content %} {% endblock content %}</div>
      </main>

      <footer class="main-footer">
        <div class="container">
          {% block footer %}
          <p>&copy; 2025 ToDo_List_Django Project. By Lucas Dias</p>
          {% endblock footer %}
        </div>
      </footer>
    </body>
  </body>
</html>
